/**
 * @name VioPaigeSkin1
 * @version 1.0
 * @description A discord skin by VioPaige
 * @author Paige#3198
 * @source https://github.com/VioPaige/DiscordThemes
 * @website https://github.com/VioPaige
 */
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

:root {
  --themeColor1: #74fcf8; 
  --themeColor2: #ffd5ad; 
  --themeColor3: #c086f7;

  --customFont: 'Open sans', sans-serif; 


  --homeImage: url('https://limeshark.dev/img/bdi/n8h.png');
  --homeImageSize: cover;

  
  --backgroundColor: #0d0d0d;
  --backgroundImage: url('https://media.discordapp.net/attachments/850473350605045790/859355438779727882/sao.jpg?width=1189&height=669');
  --backgroundPosition: center;
  --backgroundSize: cover; 
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 5px; 
  --backgroundOpacity: .4; 

  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}