<!DOCTYPE html>
<html>
    <head>

        <link href="Home.css" rel="stylesheet" type="text/css">
        <!-- <script src="Home.js" type="text/javascript"></script> -->

    </head>
    <body>

        <div>
            <div class="navbar">
                <div class="w-container">
                    <a href="#" class="w-nav-brand">
                        <img src="Images/HelixLogo.png" loading="lazy" width="100" sizes="100px" alt="" class="image">
                    </a>
                    <nav class="w-nav-menu">
                        <a href="/" class="navbuttons" style="max-width: 728px;">Home</a>
                        <a href="/about" class="navbuttons" style="max-width: 728px;">About</a>
                        <a href="/accountlog" class="navbuttons" style="max-width: 728px;">Sign Up/Log In</a>
                    </nav>
                </div>
            </div>
            <div class="main-text-div">
                <div class="w-layout-grid grid-2">
                    <h1 class="about-titles">What is Helix?</h1>
                    <h1 class="about-titles">Into the storyline...</h1>
                    <p class="about-paragraphs">Helix is an upcoming mission-, and storyline-based first person shooter. Work for an organized crime company and beat your way to the top of crime! <br></br> Don't ever forget to check your back..</p>
                    <p class="about-paragraphs">You work for Helix, an organised crime company that makes sure of robberies, assassinations, and a lot, lot more, but in the crime world, it's never safe.. You never know who is your friend and who's your enemy.. Will you be strong enough to survive?</p>
                    <h1 class="about-titles">When is Helix coming out?</h1>
                    <h1 class="about-titles">Sign up! Become a tester?</h1>
                    <p class="about-paragraphs">There is no exact date for the release of Helix yet, we hope that we will get a BETA version publish in the start of 2022!</p>
                    <p class="about-paragraphs">Accounts are not *yet* released, check back later! <br></br> To become a tester, please join our <a class="texthyperlink" href="https://discord.gg/HYGJKjc">discord server</a></p>
                 </div>
            </div>
            <img src="Images/TopViewCityV1.png" loading="lazy" sizes="(max-width: 1920px) 100vw, 1920px" alt="">
        </div>


    </body>
</html>