<!DOCTYPE html>
<html>
    <head>

        <link href="Home.css" rel="stylesheet" type="text/css">
        <!-- <script src="Home.js" type="text/javascript"></script> -->

    </head>
    <body>

        <div>
            <div class="navbar">
                <div class="w-container">
                    <a href="#" class="w-nav-brand">
                        <img src="Images/HelixLogo.png" loading="lazy" width="100" sizes="100px" alt="" class="image">
                    </a>
                    <nav class="w-nav-menu">
                        <a href="" class="navbuttons" style="max-width: 728px;">Home</a>
                        <a href="/about" class="navbuttons" style="max-width: 728px;">About</a>
                        <a href="/accountlog" class="navbuttons" style="max-width: 728px;">Sign Up/Log In</a>
                    </nav>
                </div>
            </div>
            <div class="main-text-div">
                <h6 class="pic-overlay-title-2"> <%= message %></h6>
            </div>
            <img src="Images/TopViewCityV1.png" loading="lazy" sizes="(max-width: 1920px) 100vw, 1920px" alt="">
        </div>


    </body>
</html>